 <header id="page-header">
      <h1><a href="index.html/">lolchamps</a></h1>
        <form id="championSearchForm">
          <div class="form-group">
            <input ng-model="search" ng-model="confirmed" placeholder="Search by champion name, ex: “Anivia”">
          </div>
        </form>
</header>
<div class="container">
      <div class="row">
        <div class="col-md-12">
           <div class="row">
              <div id="free-rotation">
                <ul>    
                  <li ng-repeat="freeChamp in freeChamps | orderBy: 'name'">
                   <a ng-href="/{{ freeChamp.id }}">
                    <img ng-src="http://ddragon.leagueoflegends.com/cdn/{{ champions.version }}/img/champion/{{ freeChamp.key }}.png">
                    <h5 class="text-center">{{ freeChamp.key }}</h5>
                    </a>
                  </li>                
                </ul>
                <h4 class="text-center">Weekly free to play champions rotation</h4>

              </div>
            </div>

           <div id="allchampions">

              <ul>
                <li ng-repeat="champion in championsArray | filter: { name:search } | orderBy: 'name'">
                  <a ng-href="/{{ champion.id }}">
                      <img ng-src="http://ddragon.leagueoflegends.com/cdn/{{ champions.version }}/img/champion/{{ champion.key }}.png">
                      <h6 class="text-center">{{ champion.name }}</h6>
                  </a>
                </li>
              </ul>

            </div>

        </div>
      </div>
      <p class="text-right"><small>Current version: <strong>{{ champions.version }}</strong></small></p>
</div>