body,html{
    margin:0;
    padding:0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 0;
    background:#000a17;
    font-family: 'Lato', sans-serif;
}

.container{
      background: #EEE;
}

.Mana{
    background-color:#42A5F5!important;
}

.Rage{
    background-color:#D32F2F!important;
}

.Energy{
    background-color:#FFC107!important;
}

.None{
    background-color:transparent!important;
    border:1px solid rgba(255,255,255,0.5);
}

.BloodWell{
    background-color:#BF360C!important;
}

.Ferocity{
    background-color:#666!important;   
}
.bg-img {
    position:absolute;
    top:0;
  width: 100%;
  height: 100%;
  background: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Zed_0.jpg') top center no-repeat;
  background-size: cover;
    z-index:0;
}
  
.bg-img:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top,  rgba(255,137,137,0) 0%, rgba(0,10,23,0.5) 50%, rgba(0,10,23,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,137,137,0)), color-stop(50%,rgba(0,10,23,0.5)), color-stop(100%,rgba(0,10,23,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,137,137,0) 0%,rgba(0,10,23,0.5) 50%,rgba(0,10,23,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,137,137,0) 0%,rgba(0,10,23,0.5) 50%,rgba(0,10,23,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,137,137,0) 0%,rgba(0,10,23,0.5) 50%,rgba(0,10,23,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,137,137,0) 0%,rgba(0,10,23,0.5) 50%,rgba(0,10,23,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff8989', endColorstr='#000a17',GradientType=0 ); /* IE6-9 */
    opacity: 1; 
}
  

h1{
    color:#e5dc54;
    font-size:5em;
    text-shadow: 1px 1px 0.5px rgba(0,0,0,.5);
    text-transform:uppercase;
    font-family: 'Lato', sans-serif;
}

h2{
    font-size:2.5em;
    font-style:italic;
    color:#fff;
    text-shadow: 1px 1px 0.5px rgba(0,0,0,.5);
    font-family: 'Droid Serif', serif;
    font-weight:300;
}

.hero-header{
    margin-top:8%;
    padding: 0 15px;
}

.tag{
    display:inline-block;
    margin-top:15px;
    padding:3px 8px;
    background:#999;
    border-radius:2px;
    margin-right:7px;
    text-transform:uppercase;
    font-weight:bold;
    color:#fff;
}

header{
    background: url('../img/headerbg.png') center;
    -webkit-background-size: cover; 
    background-size: cover;
    height:25%;
    position:relative;
}

header:before{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    height:100%;
    left: 0;
    background: -moz-linear-gradient(top,  rgba(255,137,137,0) 0%, rgba(0,10,23,0.5) 50%, rgba(0,10,23,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,137,137,0)), color-stop(50%,rgba(0,10,23,0.5)), color-stop(100%,rgba(0,10,23,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,137,137,0) 0%,rgba(0,10,23,0.5) 50%,rgba(0,10,23,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,137,137,0) 0%,rgba(0,10,23,0.5) 50%,rgba(0,10,23,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,137,137,0) 0%,rgba(0,10,23,0.5) 50%,rgba(0,10,23,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,137,137,0) 0%,rgba(0,10,23,0.5) 50%,rgba(0,10,23,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff8989', endColorstr='#000a17',GradientType=0 ); /* IE6-9 */
    z-index:0;
}

header h1{
    margin:0 auto;
    text-align:center;
    padding-top:5%;
    color:#fff;
    font-size:15vw;
    position:relative;
}

header h1 a, header h1 a:hover {
    color:#fff;
    text-decoration:none;
}

#championSearchForm{
    text-align:center;
    margin:5% 0;
    position:relative;
}

#championSearchForm input{
    margin: 0 auto;
    border: none;
    border-radius: 3px;
    padding: 15px 10px;
    width:90%;
    max-width: 550px;
}

#championSearchForm input::-webkit-input-placeholder{
    font-style:italic;
}

#championSearchForm input::-moz-placeholder{
    font-style:italic;
}

#championSearchForm input:-ms-input-placeholder{
    font-style:italic;
}

/**FREE ROTATION**/
#free-rotation{
    border-radius: 5px 5px 0 0;
    margin-bottom: 40px;
    background: #eee;
    padding:5px;
}

#free-rotation ul, #allchampions ul{
    font-size:0;
    padding:0;
    text-align: center;
}

#free-rotation ul li, #allchampions ul li {
  font-size: 14px;
  display: inline-block;
  width: 10%;
  padding:5px;
}

#free-rotation ul li{
    width:20%;   
}

#allchampions ul li {
    width:25%;   
}

#allchampions h6, #free-rotation h5{
    display: table;
    width: 100%;   
}

#allchampions a{
    color:#333;
}

#free-rotation ul li img, #allchampions ul li img{
    width:100%;
    border-radius:2px;
}


.lore{
    color:#333;
    text-align:justify;
    letter-spacing:1px;
    line-height:1.5em;
    padding-top: 15px;
}

.lore h3, .abilities h4{
    margin-top:0;
}

.contain-champion{
    background:#EEE;
    /*border:px solid #c67e21;*/
    position:relative;
    margin-top:10%;
}

.contain-champion .row{
    padding:25px;
    font-family: 'Droid Serif', serif;
}

.champ-pic{
    float:left;
    margin-right:25px;
}

.backhome{
    color:#fff;
    position:relative;
    top:15px;
}

.abilities img{
-webkit-box-shadow: inset 0px 0px 11px 3px rgba(50, 50, 50, 1);
-moz-box-shadow:    inset 0px 0px 11px 3px rgba(50, 50, 50, 1);
box-shadow:         inset 0px 0px 11px 3px rgba(50, 50, 50, 1);
}

.abilities .row{
    border-top:1px solid #ccc;
    padding: 25px 0;
}

.skin{
    padding:0px;
}

.skins img{
    width:100%;
    padding: 10px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #allchampions ul li {
           width:15%!important;
    }
    
    header h1{
        font-size:10vw;   
    }
    
    #free-rotation ul li{
        width:15%;   
    }
    
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #allchampions ul li {
        width:10%!important;
        }
    
    header h1{
        font-size:8vw;   
    }
    
    #free-rotation ul li{
        width:15%;   
    }
    
}
/* Medium devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
    #allchampions ul li {
               width:7%!important;
        }
    
    header h1{
        font-size:6vw;   
    }
    
    #free-rotation ul li{
        width:10%;   
    }
}